
html, body {
    height: 100%;
    margin: 0px;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    border-top: 10px black solid;
    border-bottom: 10px black solid;
    border-left: 5px ridge black;
    border-right: 5px ridge black;
}

h1 {
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: larger;
    border: solid 2px black;
    padding: 5px;
    background-color: gray;
    color: white;
    margin: 5px;
    border-radius: 25%;
}

button:active {
    background-color: lightgreen;
}

input {
    border: solid 1px black;
    font-size: large;
}

.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 80%;
}

p {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    text-decoration: underline;
}